*{
  overflow-x: hidden;
  margin: 0 ;
}

html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
/* .icon{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
} */
  .navbar {
 background-color: #00008B;
  list-style-type: none;
  margin: 0;  
  padding: 0;
  position: sticky;
  width: 100%;
  display: flex;
  height: 15%;
  z-index: 10;
}

.nav-links {
  margin-left: auto;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  list-style-type: none;
  gap: 10px;
}

.nav-links ul a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: 10px;
}

.nav-links a:hover {
  background-color: darkblue;
}
.Register{
   background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  align-items: center;
  border: black solid;
  border-radius: 10px;
  width: 200px;
  margin-top: 5%;
  margin-left: 30%;
  margin-bottom: 5%;
}
input[type="text"],
input[type="email"],
input[type="password"]{
  width: 500px;
  height: 40px;
}
input[type="button"] {
  width: 200px;
  height: 40px;
  transition: 0.3s;
}

input[type="button"]:hover {
  background-color: #00008B;
  color: white;
}
#title{
  text-align: center;
  font-size: larger;
}
footer {
  background-color: #00008B;
  padding-left: 20px;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  color: white;
}
.f-cont {
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
}
.write {
  margin: auto;
  margin-top: 8%;
}

.serv {
  margin-top: 20px;
  margin-right: 2%;
}
.card {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.box {
  margin: 10px 60px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  padding: 10px 4%;
  border-radius: 20px;
}

.boxe {
  margin: 10px auto;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  padding: 10px 4%;
  border-radius: 20px;
  width: 40%;
}

.foot {
  color: white;
}
@media screen and (max-width: 600px)
{ 
  .navbar {
  background-color: #00008B;
  list-style-type: none;
  margin: 0;  
  padding: 0;
  position: sticky;
  width: 100%;
  display: flex;
  height: 70px;
  z-index: 10;
}

.nav-links {
  margin-left: auto;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  list-style-type: none;
  gap: 1px;
  margin-top: 30px;
}
.nav-links ul a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: 10px;
  font-size: 15px;
}
.nav-links a:hover {
  background-color: darkblue;
}
#topic{
  font-size: 20px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 500px;
  align-items: center;
  margin: 0 auto;
}
.box {
  margin: 10px 20px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  padding: 10px 10px;
  border-radius: 20px;
  width: 400px;
  height: 150px;
}
.boxe {
  margin: 10px auto;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  padding: 10px 10px;
  border-radius: 20px;
  width: 40%;
}
footer {
  background-color: #00008B;
  padding-left: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  color: white;
}
.f-cont {
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.write {
  margin: auto;
  margin-top: 50px;
  bottom: 0;
  font-size: 10px;
}
.serv {
  margin-top: 20px;
  margin-right: 5%;
  font-size: 10px;
}
}